@import org.apache.lucene.search.TopDocs
@import org.apache.lucene.document.Document
@import org.apache.lucene.search.{IndexSearcher, Query}
@import services.PaperLookup

@(docs: TopDocs, searcher: IndexSearcher, query: Query)

<div class="sodad-list-paper">
  @for(scoreDoc <- docs.scoreDocs) {
    @defining(searcher.doc (scoreDoc.doc)){document =>
    @defining(document get "pii"){pii =>
    @defining(PaperLookup (pii)){maybePaper =>
    @defining(s"sodad-explain-id-$pii"){explanationDivId =>
    @defining(s"sodad-terms-vector-id-$pii"){termsVectorDivId =>
    @defining(s"sodad-analysis-id-$pii"){analysisDivId =>
    @defining(s"sodad-abstract-id-$pii"){abstractDivId =>
    @defining(s"sodad-semmed-id-$pii"){semmedDivId =>
    @defining(s"sodad-explain-btn-id-$pii"){explanationBtnId =>
    @defining(s"sodad-terms-vector-btn-id-$pii"){termsVectorBtnId =>
    @defining(s"sodad-analysis-btn-id-$pii"){analysisBtnId =>
    @defining(s"sodad-abstract-btn-id-$pii"){abstractBtnId =>
    @defining(s"sodad-semmed-btn-id-$pii"){semmedBtnId => 
    <div class="sodad-list-paper-pii" id="div-paper-@pii">
        <span class="sodad-txt-pii-id"><a href="http://www.sciencedirect.com/science/article/pii/@pii" target="_blank">@pii</a></span>
	@if(maybePaper.isDefined) {
	@*
	Explanation button
	*@
	@defining(searcher.explain(query, scoreDoc.doc)){explanation =>
	<span id='@explanationBtnId' class="sodad-tooltip-class sodad-bracket-btn-class">
	  [Explain]
	  <span class="sodad-tooltiptext-class">Shows/Hides weighting scheme for this result item</span>
	</span>
	<span id='@termsVectorBtnId' class="sodad-tooltip-class sodad-bracket-btn-class">
	  [Terms Vectors]
	  <span class="sodad-tooltiptext-class">Shows/Hides Indexing Terms Vector</span>
	</span>
	<span id='@analysisBtnId' class="sodad-tooltip-class sodad-bracket-btn-class">
	  [Analysis]
	  <span class="sodad-tooltiptext-class">Shows/Hides NLP Analysis</span>
	</span>	
	<div class="sodad-explanation-class" id="@explanationDivId" style="height: 0px; visibility: hidden;" data-visible="0" data-loaded="1">
	  @Html(explanation.toHtml())
	</div>
	<div class="sodad-explanation-class" id="@termsVectorDivId" style="height: 0px; visibility: hidden;" data-visible="0" data-loaded="0">
	  TERMS VECTOR NOT LOADED
	</div>
	<div class="sodad-explanation-class" id="@analysisDivId" style="height: 0px; visibility: hidden;" data-visible="0" data-loaded="0">
	  ANALYSIS NOT LOADED
	</div>
	}
	@*
	Paper features
	*@
	@defining(maybePaper.get){p =>
	@defining("\"".r.replaceAllIn (p.title, "")){title => @*"*@
	<div class="sodad-list-paper-title">
	  <a href="/paper?pii=@pii" target="_blank">@title</a>
	</div>
	<div class="sodad-list-paper-journal">@p.journal</div>
	<div class="sodad-list-submit-div">
	  <form id="hlform-@pii" action="/querylong">
	    <div class="sodad-list-paper-hls">@Html(p.hl)
	      <span id="@abstractBtnId" class="sodad-tooltip-class sodad-bracket-btn-class">[Show Abstract]<span class="sodad-tooltiptext-class">Shows/Hides the abstract ...</span></span>
	      <span id="@semmedBtnId" class="sodad-tooltip-class sodad-bracket-btn-class">[Show SemMed Tagging]<span class="sodad-tooltiptext-class">Shows/Hides SemMed tagging ...</span></span>
	      <div class="sodad-explanation-class" id="@abstractDivId" style="height: 0px; visibility: hidden;" data-visible="0" data-loaded="0">
	  ABSTRACT NOT LOADED
	      </div>
	      <div class="sodad-explanation-class" id="@semmedDivId" style="height: 0px; visibility: hidden;" data-visible="0" data-loaded="0">
	  SEMMED DATA NOT LOADED
	      </div>
	    </div>
	    <input id="hidden_@pii" name="papertitle" type="hidden" value="@title"/>
	    <div class="sodad-list-paper-ctls-class">
	      <table style="width: 100%">
		<tr>
		  <td>
		    <select id="sodad-title-weight-id-@pii" name="titleweight" selected="0.5">
		      @selectweights()
		    </select>
		    <label for="sodad-title-weight-id-@pii" style="margin-left: 1em;">Weight for the title</label>
		  </td>
		  <td>
		    <select id="sodad-hl-weight-id-@pii" name="hlweight" selected="0.5">
		      @selectweights()
		    </select>
		    <label for="sodad-check-search-on-selected-hl-id" style="margin-left: 1em;">Search on selected Highlight</label>
		  </td>
		  <td>
		    <input type="submit" value="Submit"/>
		  </td>
		</tr>
	      </table>
	    </div>
	    <input name="search_on_selected_hl" value="1" type="hidden"/>
	    <input name="search_on_title" value="1" type="hidden"/>
	    <input id="sodad-controlform-hl-hidden-@pii" name="hl" value="" type="hidden"/>
	  </form>
	</div>
	}}}
        </div>  
    <script>
      (function () {
         setRadioForPii("@pii")
         var f = onEventSelect10BalanceFun ("sodad-title-weight-id-@pii", "sodad-hl-weight-id-@pii")
         document.getElementById ("sodad-title-weight-id-@pii").onchange = document.getElementById ("sodad-hl-weight-id-@pii").onchange = f
         var form = document.getElementById ("hlform-@pii")
         var hiddenHL = document.getElementById ("sodad-controlform-hl-hidden-@pii")
         hiddenHL.value = form.getElementsByClassName ("sodad-hl-radio-class")[0].parentNode.textContent
         form.onchange = function (e) {
            var t = e.target
            if (t.className === "sodad-hl-radio-class" && t.checked) 
            hiddenHL.value = t.parentNode.textContent
         }
         // handle information divs
         var fun = function (btnId, divId, others, command) {
            var btn = document.getElementById (btnId)
            if (btn)
              btn.onclick = function () {
                var idiv = document.getElementById (divId)
      
                if (idiv && idiv.dataset.loaded == "0" && SODAD && SODAD.loadHandler)
                  SODAD.loadHandler ('@pii', command, divId)
                flipVisibilityForId(divId, others)}
         }

         fun ('@explanationBtnId', '@explanationDivId', ['@termsVectorDivId','@analysisDivId'])
         fun ('@termsVectorBtnId', '@termsVectorDivId', ['@explanationDivId', '@analysisDivId'], 'termsVector')
         fun ('@analysisBtnId', '@analysisDivId', ['@explanationDivId', '@termsVectorDivId'], 'analysis')
         fun ('@abstractBtnId', '@abstractDivId', [], 'abstract')
         fun ('@semmedBtnId', '@semmedDivId', [], 'semmedPredications')
      })()    
    </script>
    }}}}}}}}}}}}}}
</div>
<script>
  var undef
  var SODAD = {}
  SODAD.socket = new WebSocket ("ws://" + location.host + "/ws")
  SODAD.socket.onopen = function () {
    SODAD.loadHandler = function (pii, what, divid) {
      var e = document.getElementById (divid)
      if (e && e.dataset.loaded === "0") {
        var message = JSON.stringify ({pii: pii, what: what, divid: divid})
        SODAD.socket.send (message)
      }
    }

    SODAD.socket.onclose = function () {
      SODAD.loadHandler = undef
    }

    SODAD.socket.onmessage = function (evt) {

      var x = JSON.parse (evt.data)
      if (x && x.divid && x.content) {
        var e = document.getElementById (x.divid)
        if (e) {
          e.dataset.loaded = "1"
          e.innerHTML = x.content
          var xs = e.querySelectorAll ('script[type="sodad-postexec"]')
          for (var i = 0; i < xs.length; i ++)
		eval (xs [i].textContent)
        }
      }
    }
  }
</script>

