<div style="margin: 1em;">
  <div class="sodad-search-class">
    <div class="left">
      <form id="sodad-searchpii-form-id" name="qkSrch" method="get" target="_blank" action="/paper">
        <input id="sodad-search-input-id" name="pii" placeholder="Search a PII" size="60" maxlength="17" type="text">
	<input id="sodad-search-submit-id" value="Submit" type="submit">
      </form>
    </div>
  </div>
  <div class="sodad-search-class">
    <div class="left">
      <form id="sodad-search-form-id" name="qkSrch" method="get" target="_blank" action="/search">
        <input id="sodad-search-input-id" name="query" placeholder="Search the index" size="60" maxlength="450" type="text">
	<input id="sodad-search-submit-id" value="Submit" type="submit">
        <a class="advanced S_C_advanced" href="http://www.sciencedirect.com/science/search" target="_blank">Search on Science Direct</a>
      </form>
    </div>
  </div>
</div>
