.pred {
    color: red;
    cursor: pointer;
}
.sub {
    color: blue;
    cursor: pointer;
}
.obj {
    color: green;
    cursor: pointer;
}
#hlExplanation {
    margin: 20px;
    font-weight: bold;
}

.sodad-list-paper {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    porder: 1px;
}

.sodad-list-paper-hls {
    margin: 1em;
}
.sodad-list-paper-title {
    font-size: 150%;
}